{% load static %}

<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="{% static '/css/styles.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static '/css/bulma-helpers.css' %}">
  <script src="{% static '/js/index.js' %}"></script>
  <title>{% block title %}Serapis - Home {% endblock %}</title>
  {% load django_simple_bulma %}
  {% bulma %}
  {% font_awesome %}
</head>

<body>
  {% block Facebook %}
  <div id="fb-root"></div>
  <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v6.0"></script>
  {% endblock %}

  <nav class="navbar is-dark">
    <div class="navbar-brand">
      <a class="navbar-item" href="{% url 'shows:index' %}">
        serapis_stlouis
      </a>

      <div class="navbar-burger burger" data-target="SerapisNav">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>

    <div id="SerapisNav" class="navbar-menu">
      <div class="navbar-start">
        <a class="navbar-item" href="{% url 'shows:index' %}">Home</a>
        <a class="navbar-item" href="{% url 'shows:music' %}">Music</a>
      </div>
      <div class="navbar-end">
        <div class="navbar-item">
          <div class="field is-grouped">
            <!-- Contact button -->
            <p class="control">
              <a class="bd-tw-button button is-black" href="mailto:serapisstl@gmail.com">
                <span class="icon">
                  <i class="fas fa-paper-plane">
                  </i>
                </span>
                <span>Contact</span>
              </a>
            </p>
            <!-- Listen button -->
            <p class="control">
              <a class="button is-primary" target="blank" href="https://soundcloud.com/serapis-authentic-rock">
                <span class="icon">
                  <i class="fas fa-headphones-alt">
                  </i> </span>
                <span>Listen</span>
              </a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </nav>

  {% block main %}
  <section class="section">
    <div class="container is-fullhd">
      <div class="columns">
        <div class="column is-narrow">
          <img src="{% static '/css/mummy.jpg' %}" />
          <h1 class="title has-text-white has-text-centered">Serapis</h1>
          <div class="fb-page" data-href="https://www.facebook.com/SerapisStL/" data-tabs="timeline" data-width="" data-height="" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true">
            <blockquote cite="https://www.facebook.com/SerapisStL/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/SerapisStL/">Serapis</a></blockquote>
          </div>
        </div>
        <div class="column">
          <h1 class="title has-text-white">Upcoming Shows</h1>
          <div class="tile is-ancestor">
            <div class="tile is-vertical is-parent">
              {% for show in show_list %}
              <article class="tile is-child box has-background-warning">
                <span class="is-size-3 show-text">
                  {{show.show_date|date:"l M j"}}</span>
                <span class="is-size-3 has-text-weight-light show-text">
                  {{show.show_date|time:"P"}}</span>
                <span class="is-size-4 show-text">
                  {{show.venue}}</span>
                <span class="is-size-5 show-text">
                  {{show.city}}</span>
              </article>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  {% endblock %}

  {% block secondary %}
  <div>
    <p class="is-size-6 has-text-white has-margin-left-40 has-margin-right-40 has-padding-bottom-10">
      For over 30 years, the band Serapis has worked hard to develop a sound that stands apart from other St. Louis area bands. A performance list that includes original rock, blues, and reggae - blended with carefully selected cover music has made
      Serapis a leader on the St. Louis music scene. Serapis is a classic American band in every sense of the word. Originating in garages of a midwestern town, these guys honed their craft with millions of hours logged in smoke-filled bars and
      stages nation-wide. From the beginning, their choice has always been to play “something different” - to champion the unsung heroes, and not to simply recite the hits. They have been able to pull off this stunt for so many years simply by
      being good musicians and entertainers. But mostly because they honestly love playing music.
    </p>
  </div>

  <h1 class="title has-text-centered has-text-white">Serapis is...</h1>

  <section class="columns">
    <div class="card column has-margin-20 is-paddingless">
      <div class="card-image">
        <figure class="image">
          <img src="{% static '/css/kirkwood2019-gene.jpg' %}" />
        </figure>
      </div>
      <div class="card-content">
        <p class="title is-5">
          Gene Carroll
        </p>
        <p class="subtitle is-7">
          bass guitar and vocals
        </p>
      </div>
    </div>

    <div class="card column has-margin-20 is-paddingless">
      <div class="card-image">
        <figure class="image">
          <img src="{% static '/css/kirkwood2019-tony.jpg' %}" />
        </figure>
      </div>
      <div class="card-content">
        <p class="title is-5">
          Tony Chambers
        </p>
        <p class="subtitle is-7">
          guitars and vocals
        </p>
      </div>
    </div>

    <div class="card column has-margin-20 is-paddingless">
      <div class="card-image">
        <figure class="image">
          <img src="{% static '/css/kirkwood2019-bob.jpg' %}" />
        </figure>
      </div>
      <div class="card-content">
        <p class="title is-5">
          Bob Gleason
        </p>
        <p class="subtitle is-7">
          drums and things
        </p>
      </div>
    </div>

    <div class="card column has-margin-20 is-paddingless">
      <div class="card-image">
        <figure class="image">
          <img src="{% static '/css/tunersmark.jpg' %}" />
        </figure>
      </div>
      <div class="card-content">
        <p class="title is-5">
          Mark Moebeck
        </p>
        <p class="subtitle is-7">
          guitar and vocals
        </p>
      </div>
    </div>
  </section>
  {% endblock %}

</body>

</html>