appdirs==1.4.3
asgiref==3.2.3
closure==20191111
distlib==0.3.0
django==3.0.7
django-appconf==1.0.3
django-compressor==2.4
django-cors-headers==3.2.1
django-filer==1.7.0
django-hvad==1.8.0
django-js-asset==1.2.2
django-libs==2.0.2
django-mptt==0.11.0
django-polymorphic==2.1.2
django-sass-processor==0.8
django-simple-bulma==1.2.0
djangorestframework==3.11.0
easy-thumbnails==2.7
filelock==3.0.12
libsass==0.20.1
Markdown==3.2.1
Pillow==7.0.0
Pygments==2.5.2
pytz==2019.3
rcssmin==1.0.6
rjsmin==1.1.0
six==1.14.0
sqlparse==0.3.0
Unidecode==1.1.1
virtualenv==20.0.7
whitenoise==5.0.1
zipp==3.0.0
