@charset "utf-8";
@import "../node_modules/bulma/bulma.sass";

// 1. Import the initial variables
@import "../sass/utilities/initial-variables";
@import "../sass/utilities/functions";

// 2. Set your own initial variables
$primary: #ddbea8;
$info: #ffffff;
$success: #81968f;
$warning: #96bdc8;
$danger: #331832;

// 6. Import the rest of Bulma
@import "../bulma";
