body {
  background-image: url('dirty-old-black-shirt.png');
  background-color: #000000;
}

section {
  flex-wrap: wrap;
  font-family: "Open Sans", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Inconsolata", monospace;
}

p, a {
  font-family: "Open Sans", sans-serif;
}

.bandname {
  text-align: center;
}

.show-text {
  text-align: justify;
  padding: 4px;
}
